
BattagliaNavale/.vs/BattagliaNavale/xs/project-cache/Assembly-CSharp-Debug.json
BattagliaNavale/.vs/BattagliaNavale/xs/project-cache/Assembly-CSharp-Debug.json
BattagliaNavale/.vs/BattagliaNavale/xs/project-cache/PhotonChat-Debug.json
*.json
*.json
*.json
*.json
*.json
BattagliaNavale/.vs/BattagliaNavale/xs/project-cache/PhotonUnityNetworking.Demos-Debug.json
BattagliaNavale/.vs/BattagliaNavale/xs/project-cache/PhotonUnityNetworking.Editor-Debug.json
BattagliaNavale/.vs/BattagliaNavale/xs/project-cache/PhotonUnityNetworking.Utilities-Debug.json
*.log
BattagliaNavale/Library/shadercompiler-UnityShaderCompiler0.log
*.cache
BattagliaNavale/Library/SourceAssetDB
*.log
